<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.benple.bbs.board.mapper.BoardMapper">

	<select id="boardCount" resultType="int">
		SELECT
			COUNT(*)
		FROM board
	</select>

	
	<select id="boardList" resultType="com.benple.bbs.board.domain.BoardVO">
		SELECT
			*
		FROM board
	</select>
	
	<select id="boardDetail" parameterType="int" resultType="com.benple.bbs.board.domain.BoardVO">
		SELECT
			*
		FROM board
		WHERE
			board_seq=#{board_seq}
	</select>
	
	
	<insert id="boardInsert" parameterType="com.benple.bbs.board.domain.BoardVO" useGeneratedKeys="true" keyProperty="board_seq">
        INSERT INTO
        board (BOARD_SEQ,SUBJECT,CONTENT,WRITER,CREATED)
        VALUES(#{board_seq},#{subject},#{content},#{writer},now()) 
    </insert>
	
	<insert id="fileInsert" parameterType="com.benple.bbs.board.domain.FileVO">
		INSERT INTO
		files(FILE_SEQ, BOARD_SEQ, FILENAME,FILEORINAME, FILEURL)
		VALUES(#{file_seq}, #{board_seq}, #{fileName}, #{fileOriName}, #{fileUrl})
	</insert>
	
	
	<update id="boardUpdate" parameterType="com.benple.bbs.board.domain.BoardVO">
        UPDATE board
            SET
        <if test="subject != null">
            SUBJECT = #{subject}
        </if>
        <if test="subject != null and content != null"> , </if>
        <if test="content != null">
            CONTENT = #{content}
        </if>
        WHERE board_seq = #{board_seq}
	</update>
	
	
	<delete id="boardDelete" parameterType="com.benple.bbs.board.domain.BoardVO">
		DELETE 
		FROM 
			board
		WHERE
			board_seq=#{board_seq}
	</delete>
	
	<select id="fileDetail" parameterType="int" resultType="com.benple.bbs.board.domain.FileVO">
		SELECT
			*
		FROM files
		WHERE
			board_seq = #{board_seq}
	</select>

</mapper>